* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

body > * {
    flex: 0 0 auto;
    font-family: Titillium Web;
    font-weight: 800;
}

#defaultAnimation {
    border-color: red;
    filter: drop-shadow(0px 0px 4px rgba(120, 255, 255));
    filter: drop-shadow(0px 0px 6px rgba(80, 192, 180));
    filter: drop-shadow(0px 0px 8px rgb(0, 96, 120));
    display: inline-flex;
    width: 80px;
    height: 80px;
	position: absolute;
    transform: translate(-50%,-50%);
}

.supporterNames {
    filter: drop-shadow(1.5px 1.5px 2.5px rgba(0, 0, 0));
    margin: 0px 16px 0px 16px;
    color: rgb(0, 255, 255);
}

.supportNumerical {
    filter: drop-shadow(1.5px 1.5px 2.5px rgba(0, 0, 0));
    margin: 0px 16px 0px 16px;
    color:white;
}

.separator {
    filter: drop-shadow(1.5px 1.5px 2.5px rgba(0, 0, 0));
    margin: 0px;
    transform: translate(0%,-10%);
    color: white;
}

.subSide  {
    top: 50%;
    right: 50%;
    position: absolute;
    display: inline-flex;
    padding: 0px 54px 0px 0px;
    transform: translate(0%,-50%)
}

.cheerSide {
    top: 50%;
    left: 50%;
    position: absolute;
    display: inline-flex;
    padding: 0px 0px 0px 54px;
    transform: translate(0%,-50%)
}

/* #progressBar {
    position: absolute;
    top: 0;
    left: 0;
} */

canvas {
    position: absolute;
}

.verticalHair {
    left: 50%;
    width: 1px;
    height: 1080px;
    background-color: white;
    position: absolute;
    vertical-align: middle;
}

.horizontalHair {
    top: 50%;
    width: 1920px;
    height: 1px;
    background-color: white;
    position: absolute;
    vertical-align: middle;
}

/* #alertUsername {
    top: 50%;
    left: 50%;
    color: white;
    position: absolute;
} */